.headerContainer {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    padding: 0 20px;
    box-shadow: 0px 6px 29px -14px rgba(0, 0, 0, 0.19);
}
.userProfileImageHeader {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}
.iconColor {
    color: var(--icon);
    font-size: 20px;
}
.leftHeaderRightContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*material ui fix for project for badge */
.MuiBadge-colorPrimary {
    background-color: var(--blue) !important;
}
/*Notification modal*/
.notificationContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 20px;
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
}
.notificationContainer:hover {
    background-color: var(--baseColor);
    cursor: pointer;
}
.notificationDetail {
    display: flex;
    align-items: center;
}
.notificationName {
    margin: 0 5px 0 20px;
    color: var(--darktext);
    font-weight: 600;
}
.notificationType {
    color: var(--icon);
}

.btn-danger {
    margin: 0 20px;
    background-color: var(--white);
    border: 1px solid var(--red);
    color: var(--red);
}
.MuiDialogContent-root {
    padding: 0 !important;
}
/*-------------------------Left pannel------------------------------*/
.usersName {
    font-size: 20px;
    margin: 10px;
    margin-left: 20px;
    color: var(--darktext);
}
.usersContainer {
    border-right: 1px solid var(--border);
    height: calc(100vh - 60px);
}
.searchContainer {
    padding: 10px 20px;
}
.searchBox {
    width: 100%;
    height: 40px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: var(--baseColor);
    color: var(--darktext);
}
.userListContainer {
    height: calc(100vh - 168px);
}
.userListCard {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--border);
    border-top: 1px solid var(--border);
    padding-left: 20px;
}
.userListCard:hover {
    background-color: var(--baseColor);
    cursor: pointer;
}
.userCardActive {
    background-color: var(--border);
}

.userProfileImage {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid var(--lighttext);
}
.conversationProfileImage {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid var(--lighttext);
}
.activeStatus {
    top: 15px;
    left: -10px;
    padding: 10px;
}

.userDetailContainer {
    width: 100%;
    padding: 15px 20px;
}
.userDetailContainer,
.userNameandMessage,
.MessageTimeAndCount {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.userNameandMessage,
.MessageTimeAndCount {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.usersNameHeading {
    font-weight: 600;
    font-size: 20px;
}
.userMessageAndTime {
    font-size: 14px;
}
.userNameandMessage,
.usersNameHeading,
.userMessage,
.findFriendUsersName {
    max-width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*-------------------------Find Friends start-----------------------------*/
.FriendListContainer {
    height: calc(100vh - 218px);
}
.peopleAroundYou {
    font-size: 16px;
    font-weight: 600;
    margin: 10px 20px 10px;
    color: var(--lighttext);
}
.findFriendUsersName {
    max-width: 150px;
}
.btn {
    font-size: 12px;
    font-weight: 600;
}
.btn-primary {
    background-color: var(--blue);
}
/*-------------------------Find friend end------------------------------*/
/*-------------------------Left pannel end------------------------------*/

/*-------------------------Chat section start------------------------------*/
.chatContainer {
    width: 100%;
    min-width: 600px;
    background-color: var(--baseColor);
    height: calc(100vh - 60px);
    overflow-x: auto;
}
.chatViewer {
    height: calc(100vh - 128px);
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.myMessageContainer {
    position: relative;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: calc(100% - 520px);
    padding: 10px;
    background-color: var(--border);
    max-width: 500px;
    min-width: 150px;
    width: fit-content;
    text-align: left;
    font: 400 0.9em "Open Sans", sans-serif;
    border: 1px solid var(--border);
    border-radius: 10px;
    display: flex;
    align-self: flex-end;
    justify-content: space-between;
    flex-direction: column;
}
.myMessageContainer::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 15px solid var(--border);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    top: -0.5px;
    right: -15px;
}

.friendMessageContainer {
    position: relative;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: var(--white);
    min-width: 150px;
    width: fit-content;
    max-width: 500px;
    text-align: left;
    font: 400 0.9em "Open Sans", sans-serif;
    border: 1px solid var(--white);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.friendMessageContainer::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 15px solid var(--white);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    top: -0.5px;
    left: -15px;
}
.message {
    font-size: 16px;
    word-wrap: break-word;
}
.timeStamp {
    margin: 10px 0 0 0;
    display: flex;
    /* flex-direction: column; */
    justify-content: flex-end;
    align-items: flex-end;
    color: var(--icon) !important;
}
.timeStamp p {
    color: var(--icon) !important;
}
.timeStamp p:nth-child(1) {
    margin-right: 10px;
}
.bottomMessageTyper {
    position: sticky;
    bottom: 0;
    background-color: var(--white);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.messageField {
    width: 100%;
    margin-right: 20px;
    padding: 10px 10px;
    border-radius: 5px;
    border: 1px solid var(--border);
    background-color: var(--baseColor);
    color: var(--darktext);
    font-size: 16px;
}
.fa-telegram-plane {
    font-size: 30px;
}
.messageStatus {
    color: var(--icon);
}

/*--------------------------------scroll to bottom float button start--------------------------------*/

/*--------------------------------scroll to bottom float button end--------------------------------*/

/*-------------------------Chat End------------------------------*/
