.signup {
    padding: 20px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin: 20px;
}
.container {
    margin-top: 100px;
}
.form-group {
    margin-bottom: 26px;
}
.login-head {
    margin-bottom: 20px;
    text-align: center;
    font-size: 25px;
    color: #797979;
    font-weight: 600;
}
.loginsignup {
    margin-left: 160px;
}
.forgetpassword {
    color: #46b3e6;
    font-size: 15px;
    text-decoration: none;
}
.loginbtn {
    margin-top: 114px;
}
.signupbtn {
    margin-top: 45px;
}
.image-upload > input {
    display: none;
}
.image-upload {
    display: flex;
    align-items: center;
    justify-content: center;
}
.upload-file-btn {
    font-size: 80px;
    font-weight: 100;
    padding: 0 40px 20px 40px;
    margin-bottom: 20px;
    border: 2px dashed #e5e5e5;
    border-radius: 8px;
    color: #797979;
    transition: all 0.3s ease;
}

.upload-file-btn:hover {
    color: var(--blue);
    cursor: pointer;
    border-color: var(--blue);
}
